@model IEnumerable<string>

<div class="d-grid gap-2">
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Anasayfa</a>

    @foreach (var category in Model)
    {
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">@category</a>
    }
</div>